<!DOCTYPE html>

{% extends "base.html" %} {% block title %}Log in Admin {% endblock %} {% block content%}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">  <link rel="preconnect" href="https://fonts.googleapis.com">

</head>


<body>
<div class="container">
  <div style="width:600px;height:150px;"></div>  
  <form method="POST" >
    <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A5%E0%B8%B1%E0%B8%A2%E0%B8%AA%E0%B8%AB%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%81%E0%B8%B2%E0%B8%A3.jpg/800px-%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A5%E0%B8%B1%E0%B8%A2%E0%B8%AA%E0%B8%AB%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%81%E0%B8%B2%E0%B8%A3.jpg" 
      class="w3-round" alt="Logo" style="width:150px; height: 150px;"></center>

</div>

    <div class="form-group">
      <label for="Adminid" style="font-size: 14pt; ">Username</label>
      <input
        type="text"
        class="form-control"
        id="Adminid"
        name="Adminid"
        placeholder="Username"
      />
    </div>

    <div class="form-group">
      <label for="password_Admin" style="font-size: 14pt; width: 50%;">Password</label>
      <input
        type="password"
        class="form-control"
        id="password_Admin"
        name="password_Admin"
        placeholder="password_Admin"
      />
    </div>
    
    <br />
    <center><button type="submit" class="btn btn-primary" style="width:15%; border-radius: 20px; background-color: #e3e0e4; color: black; border: black; font-size: 14pt;">Login</button></center>
  </form>

  </html>
{% endblock %}
</html>