<!DOCTYPE html>
{% extends "baseadmin.html" %} {% block title %}Home{% endblock %} {% block content%}
<html>
<body>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">

<style>
    p.round3 {
      border: 2px solid #85151c;
      color: #000000;
      border-radius: 25px;
      padding: 10px;
      font-size: 20pt;
      width: 80%;
      font-family:'Prompt', Raleway;
    }

    .container {
      background-color: #e3e0e4;
      color: #000000;
      height: 360px;
      font-family:'Prompt', Raleway;
    }

    body {
        background-color: #e3e0e4;
        font-family:'Prompt', Raleway;
    }

    
</style>


  <div style="width:600px;height:150px;"></div>  
  <h1 align="center">Welcome! Admin</h1>
  <h2 align="center">to</h2>
  <center><p class="round3" align="center">CIS Cooperative Education</p></center>

</body>
</html>
{% endblock %}
</html>