<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Company{% endblock %} {% block content%}
<html>
<head>
<title>company</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class ='container'>
        <h1> Company</h1>
          <label>Search</label>
          <input type="text" name="search">
          <button type="submit" >ค้นหา</button>
        <table class = "table table-bordered">
          <thead>
            <tr>
              <th>ลำดับที่</th>
              <th>ชื่อบริษัท/หน่วยงาน</th>
              <th>ประเภทบริษัท</th>
              <th>สถานะ</th>
            </tr>
          </thead>
          <tbody>
            {%for row in datas %}
            <tr>
              <td>{{row.0}}</td> 
              <td><a href="{{ url_for('.job1', t=row.0) }}">{{row.3}}</a></td>
              <td>{{row.4}}</td>
              <td>{{row.9}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
    </div>

</body>
{% endblock %}
</html>
