<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<html>
<body>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

<style>
    p.round3 {
      border: 2px solid #85151c;
      color: #000000;
      border-radius: 25px;
      padding: 10px;
      font-size: 20pt;
      width: 80%;
      font-family: sans-serif;
    }

    .container {
      background-color: #e3e0e4;
      color: #000000;
      height: 360px;
      font-family: sans-serif;
    }

    body {
        background-color: #e3e0e4;
        font-family: "Raleway", sans-serif;
    }

    
</style>


  <div style="width:600px;height:150px;"></div>  
  <h1 align="center">Welcome!</h1>
  <h2 align="center">to</h2>
  <center><p class="round3" align="center">CIS Cooperative Education</p></center>

</body>
</html>
{% endblock %}
</html>