<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<html>
<body>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">




<style>
    p.round3 {
      border: 5px solid #85151c;
      color: #000000;
      border-radius: 25px;
      padding: 10px;
      font-size: 25pt;
      width: 100%;
      font-family:'Prompt', Raleway;
    }


    body,html {
      background-color:#e3e0e4;
      font-family:'Prompt', Raleway;
    }
   
</style>


<body>
  <div style="width:400px;height:80px;"></div>  
        <div class="container">
          <h1 align="center" style="font-size: 40pt; font-family:Prompt;">Welcome!</h1><br>
          <h2 align="center"style="font-size: 40pt; font-weight: bold; color: #85151c; font-family:Prompt;">Student</h2><br>
          <h2 align="center"style="font-size: 25pt; font-family:Prompt;">to</h2><br>
          <center><p class="round3" align="center">CIS Cooperative Education Management </p></center>
        </div>
        
  <div style="width:400px;height:80px;"></div>
</body>



</html>
{% endblock %}
</html>